// 基本颜色
$color-main: #327DFF;
$color-normal: #464646;
$color-remind: #787878;
$color-layout-border: #ddd;
$color-warn: #f7b500;
$color-error: #fa6400;
$color-background: #f7f7f7;

// 字体大小
$font-size-main: 14px;